.devlogPage h3 {
    font-weight: bold;
}

.devlogPage {
    height: 75vh;
    padding-bottom: 10px;
}

.devlogPage section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    justify-content: space-evenly;
}

.log {
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    border-radius: 1px;
    height: auto;
    text-align: center;
    
    margin-bottom: 0.5em;
}

.log p {
    margin-top: auto;
    margin-bottom: auto;
}

.log button {
    margin-right: 2px;
    margin-top: 2px;
    height:30px;
}

.devlogPage div
{
    display: flex;
}