.home h2 {
    margin-top: 1px;
    margin-bottom: 1px;
}

main {
    flex: 1 400px;
    justify-content: space-evenly;
}

.home section {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 1px;

    margin-bottom: .5em;
}