.gamePage h3 {
    font-weight: bold;
}

.gamePage {
    height: 75vh;
    padding-bottom: 10px;
}

.gamePage section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    justify-content: space-evenly;
    background-color: gray;
    border: none;
}

.game {
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    border-radius: 1px;
    height: auto;

    margin-bottom: 0.5em;
}

.game img {
    width: 100px;
    height: 100px;
}

.games div {
    display: flex;
}

.gameInfo {
    flex-direction: row;
    flex: 1 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.gameInfo p {
    height: 100px;
    overflow-y: auto;
    margin-left: 15px;
    width: 75%;
}

.gameInfo h3
{
    width: 10%;
    text-wrap: normal;
}

.gameButtons {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2px;
}

#editGameImage {
    width: 100px;
    height: 100px;
}

#editGameDescription {
    width: 75%;
    text-align: center;
}

#editGameTitle {
    text-align: center;
    width: 15%;
}

@media (max-width: 560px)
{
    .game img {
        display: none;
    }
}